<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
   <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as list">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="itemToSearch">
    </div>
    <div class="row">
    <button class="btn btn-primary" ng-click="list.searchItem()">Narrow It Down For Me!</button>
    </div>
    <br>
     <div class="row">
       <span ng-model="message" ng-if="message.length > 0" >{{message}}</span>
       <found-items
          list="list",
          on-remove="list.removeItem(index)"
         >
      </found-items>
     </div>
  </div>

</body>
</html>
